:root {
    --primary-text-color: #000000;
    --secondary-text-color: #757575;
    --link-color: #2196F3;
    --hero-text-color: #FFFFFF;
}

body {
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
}

